<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <!-- link fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- link Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../asset/css/admin.css">
</head>

<body>
  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <a class="navbar-brand" href="#home" id="brandLogo">
      <img src="../asset/image/logo.jpeg" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navToggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navItems">
        <li class="nav-item active" id="navHome">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item" id="navStore">
          <a class="nav-link" href="#"><i class="fas fa-store"></i> Store </a>
        </li>
        
        </li>
      </ul>
 
    </div>
  </nav>

  <!-- -Table -->
  <section class="table">
    <div class="container">
      <div class="table__title">
        <h3>Phone Management</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Add Phone
        </button>
      </div>
      <div class="container">
        <div class="row mt-3">
          <div class="col-md-4">
            <label for="typeFilter" class="form-label">Loại Điện Thoại</label>
            <select class="form-control" id="typeFilter">
              <option value="all">Tất cả</option>
              <option value="iphone">Iphone</option>
              <option value="samsung">Samsung</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="priceFilter" class="form-label">Lọc Giá</label>
            <select class="form-control" id="priceFilter">
              <option value="all">Tất cả</option>
              <option value="asc">Giá: Nhỏ đến Lớn</option>
              <option value="desc">Giá: Lớn đến Nhỏ</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="searchInput" class="form-label">Tìm Kiếm</label>
            <input class="form-control" type="search" placeholder="Tìm kiếm" id="searchInput">
          </div>
        </div>
      </div>
      <div class="table-responsive table__content mt-3"></div>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Photo</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="productTable">
          </tbody>
        </table>
      </div>

    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="createProductForm">
            <div class="form-group">
              <label for="form_id">ID</label>
              <input type="text" class="form-control" id="form_id" placeholder="Enter product ID">
              <span id="tb_id" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_name">Name</label>
              <input type="text" class="form-control" id="form_name" placeholder="Enter product name">
              <span id="tb_name" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_price">Price</label>
              <input type="number" class="form-control" id="form_price" placeholder="Enter product price">
              <span id="tb_price" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_screen">Screen</label>
              <input type="text" class="form-control" id="form_screen" placeholder="Enter screen">
              <span id="tb_screen" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_camera">Back Camera</label>
              <input type="text" class="form-control" id="form_camera" placeholder="Enter backCamera">
              <span id="tb_camera" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_fontCamera">Front Camera</label>
              <input type="text" class="form-control" id="form_fontCamera" placeholder="Enter font camera">
              <span id="tb_fontCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_image">Image</label>
              <input type="text" class="form-control" id="form_image" placeholder="Enter font camera">
              <span id="tb_image" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label for="form_category">Category</label>
              <select class="form-control" id="form_category">
                <option value="iphone">Iphone</option>
                <option value="samsung">Samsung</option>
              </select>
              <span id="tb_category" class="text-danger"></span>
            </div>

            <div class="form-group">
              <label for="form_description">Description</label>
              <textarea class="form-control" id="form_description" rows="3"
                placeholder="Enter product description"></textarea>
              <span id="tb_description" class="text-danger"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeProduct()">Close</button>
          <button type="button" class="btn btn-danger" onclick="addProduct()">Add</button>
          <button type="button" class="btn btn-warning" onclick="updateProduct()">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
    integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Liên kết JavaScript của Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- validate -->
  <script src="../model/validate.js"></script>

  <!-- model -->
  <script src="../model/model.js"></script>

  <!-- controller -->
  <script src="../controller/controller.js"></script>

  <!-- main js -->
  <script src="../controller/index.js"></script>
</body>

</html>