* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Header */
#mainNav {
  background-color: #343a40;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#brandLogo img {
  width: 80px;
  height: auto;
}

/* Nav Items */
#navItems {
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-link {
  display: block;
  padding: 15px;
  color: #ffffff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}

/* Table Section */
.container {
  padding: 40px;
}

.table__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #60679b;
  height: 65px;
  padding: 0 20px;
  border-radius: 10px;
}

.table__title h3 {
  color: #fff;
  margin: 0;
}

.table__title button {
  background-color: #294d5d;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.table__title button:hover {
  background-color: #1f3844;
}

.table__content {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  padding: 15px; /* Thêm padding cho các ô */
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
  border-bottom: 2px solid #dee2e6; /* Đường viền dưới cho tiêu đề */
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu nền cho hàng chẵn */
}

.table tbody tr:hover {
  background-color: #e9ecef; 
}


.container .row .form-control {
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.container .row .form-control:focus {
  border-color: #007bff;
}

/* Modal Styling */
.modal-header {
  background-color: #294d5d;
  color: white;
}

.modal-footer button {
  border-radius: 20px;
}


@media (max-width: 768px) {
  .table__title {
    flex-direction: column;
    align-items: flex-start;
  }

  .table__title h3 {
    margin-bottom: 10px;
  }
}
